.background {
  fill: none;
  pointer-events: all;
}

#timeSlider {
  margin: 20px 0 10px 0;
  width: 500px;

}

#states .state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

sub { 
    vertical-align: sub;
    font-size: smaller;
}

#map {
    width: 960px !important;
    height: 500px !important;
    display: inline-block;
}

form {
    margin-top: 3%;
}

#heatgrid {
    width: 650px !important;
    height: 450px !important;
}

#slider {
    width: 500px;
    margin: auto;
      /*position:fixed;*/
}

#slider-label {
    width: 550px;
    margin-left: -24px;
    margin-top: -10px;
}

#slider label {
    display: inline-block;
    margin-right: 30px;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: 95px;
  height: 40px;
  padding: 8px;
  margin-top: -20px;
  font: 13px sans-serif;
  color: gray;
  background: white;
  border: 1px solid lightgray;
  pointer-events: none;
}

.tooltip p {
    margin-bottom: 9px;
}

.tooltip .state-name {
    font-weight: bold;
}

.fixed{
  position: fixed; 
  top: -0.5em; 
  left:30%;
  width:400px;
  height: 53px; 
  z-index: 9999;
  opacity:0.8;
}
