.background {
  fill: none;
  pointer-events: all;
}

#timeSlider {
  margin: 20px 0 10px 0;
  width: 500px;
}

#states .state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

sub { 
    vertical-align: sub;
    font-size: smaller;
}

#map {
    width: 960px !important;
    height: 500px !important;
    display: inline-block;
}

form {
    margin-top: 3%;
}

#heatgrid {
    width: 650px !important;
    height: 450px !important;
}

#slider {
    width: 500px;
    margin: auto;
}

#slider-label {
    width: 550px;
    margin-left: -24px;
}

#slider label {
    display: inline-block;
    margin-right: 30px;
}
