.background {
  fill: none;
  pointer-events: all;
}

#timeSlider {
  margin: 20px 0 10px 20px;
  width: 500px;
}

#states .state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

sub { 
    vertical-align: sub;
    font-size: smaller;
}
