@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article{
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------------------------
 * DEFAULTS
 * ------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, font, img, q, s, samp, small, strike, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td {background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline;}

html, body {width: 100%; height: 100%;}


h1, h2, h3, h4, h5, h6 {clear: both; line-height: 1.6;}
h1 {font-size: 2em; font-weight: 600; text-transform: uppercase; letter-spacing: 0.1em;}
h2 {font-size: 1.9em; font-weight: 400; color: #a0a0a0; font-style: none; padding: 0.4em 0;}
h3 {font-size: 1.8em; font-weight: 400; color: #a0a0a0; font-style: italic;}

a {text-decoration: none; outline: none; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
a:link {color: #232930;}
a:visited {color: inherit;}
/*#D3D5D7*/

a:active, a:hover, a:selection {color: #ff6868;}
.in-text_link:link {color: inherit;}
.in-text_link:hover{color: #ff6868;}
.in-text_link{text-decoration: underline;}

a img {border: none; max-width: 100%;}

/* GENERAL STYLE */


body{font-family: 'Avenir','Baskerville', Times, sans-serif;font-size: 65%; font-weight: 300; line-height: 1.8; color: #232930; }
.homequote, h1, h2, .button, footer{font-family:'raleway', Times, sans-serif;}
h1{text-transform: none; font-weight: 200}
#logo{font-family:'Raleway','Baskerville', Times, sans-serif;}

::selection {
    background:#96cab3;
    color:white;
}

::-moz-selection {
    background:#96cab3;
    color:white;
}

::-webkit-selection {
    background:#96cab3;
    color:white;
}

/* ======================================
 * CONTAINER
 * ====================================== */

#contents {position: absolute; width: 100%; height: 100%; max-width: 100%;top: 0;}
/*#contents h1::after {content: " "; border: solid 1px #232930; display: block; width: 1em; margin: 0.6em auto auto auto;}*/

.content-container {width: 100%; margin: 0 auto; padding-top: 5em; /*overflow: hidden; */clear: both; background-color: none}
.half{display: inline-block; float:left; width: 48%; margin: 0 auto;}
.intro {position: relative; width: 60%; margin: 2.5em auto;}
.content_separate {display: block; padding-bottom: 2em; width: 100%; position: relative;}

.text-center {text-align: center}

.fade-element{
	transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;
}
.img_responsive_big{width: 65%; padding: 1em;}
.img_responsive{width: 35%; padding: 1em;}
.img_responsive_small{width: 13.5%; padding: 1em;}
.img_dim{opacity: 0.8;} .img_dim:hover{opacity: 1;}
 .div_responsive{width: 45%; padding: 1em;}
 .checklist{list-style: circle !important;}

/* ======================================
 * HEADER
 * ====================================== */

header {margin: 0; padding: 0;}

#main-header {position: relative;
	width: 100%; height: auto;
	z-index: 1000;
	margin: 0;
}

/* ======================================
 * 3.2 NAVIGATION
 * ====================================== */
#main-header{
	position:fixed;
	height:5em;

}
.nav_bg{
	background:rgba(255,255,255,0.85);
	border-bottom: 1px solid #00c989;
	height:100%;
}

#navigation {
	float: right;
	padding-right: 2em;
	position: relative;
	width: 100%;
	padding-left: 6em;
}

.nav_links{
	position:absolute;
	right:0; top:1em;
}

#navigation li {
	float: left;
	padding: 0.5em 0.5em;
}

#navigation li:first-child {
	margin-left: 0;
	border: none;
}

#navigation li a {
	color: white;
	text-decoration: none;
	font-size: 1.5em; /*font-style: italic; */font-weight: 400; font-family: 'Raleway', 'Avenir', 'sans-serif';
	display: block;
	transition: all 0.3s;
	padding: 0; margin: 0;
}

#navigation ul li a.current{
	color: #ff8383;
	text-shadow: 1px 1px 1px #2a2a2a;
}

#navigation li a:hover, #navigation li a:active, #navigation li a:focus{
	color: #ff6868 !important;
/*	#ff8383*/
}

#headline_tag{
	position: absolute;
	left:12%; top:-1.5em;
}

#headline_tag h1{
	color:#96cab3;
	font-weight: 600;
}

.select-style{
	position: relative;
	top:1em;
}

/* ======================================
 * INFOVIS
 * ====================================== */

svg {
    display: block;
}
html, body, #chart1, svg {
    margin: 0px;
    padding: 0px;
    padding-bottom:3em;
    padding-top: -1em;
    height: 400px;
    width: 100%;
    d-index:999;
}

/* ======================================
 * HOME DISPLAY
 * ====================================== */

.welcome{
	position: absolute;
	top: 40%;
	margin: 0 auto;
	width: 100%; line-height: 6em;
	text-align: center;
	color: white;
}
.caption{
	font-size: 1.5em;
}
.caption a:hover, .caption a:focus{
	color: #ff6868;
}
.main_text{
	font-size: 1.2em;
	text-align: left;
	width: 100%;
	margin: 1.5em 1em 2em;
}

strong{
	color: #96cab3;
}

/* ======================================
 * RECENT WORK
 * ====================================== */

.button{
	margin: 4em auto 10em auto;
	width: 120px;
	padding: 1em;
	border: gray 1px solid;
	background-color: #f5f1e9;
	display: inline-block;
	text-align: center;
	transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;
}
.button:hover, .button:focus, .button:hover{
	background-color: #ff6868;
	border: white 1px solid;
}

.button:hover p{
	color: white;
}
/*Problem: focus cannot change color*/
.button p{
	font-size: 1.4em;
	color: gray;
}
.to-top{
	width: 30px;
	height: 30px;
	padding: 0;
	border: gray 1px solid;
	background-color: none;
	font-size: 1.4em;
	color: gray;
	position: fixed;
	right: 1em;
	bottom: 5em;
	z-index: 999999;
	opacity: 0.5;
	text-align: center;
}
.to-top:hover{
	background-color: #ff6868;
	border: white 1px solid;
	opacity: 1;
}
.to-top:hover p{
	color: white;
}



.crystle{
	background: none; border-color: white;
}
.crystle p{color: white;}



footer{
	position: relative;
	padding-top: 1.3em;
	padding-bottom: 2em;
	/*background: url("img/Aquarium_dim.jpg"); background-size: cover; background-position: bottom;*/
	overflow: hidden;
	color: gray;
	font-size: 1.25em;
	clear: both;
	z-index: 99999;
	font-weight: 200;
}
footer p{
	display: inline-block;
}



.one_third{
	width: 32%;
	float: left;
	display: inline-block;
	padding: 0.3em;
}
.one_third>p.main_text{
	margin: 0;
/*	padding: 0 1em;*/
	color: #bababa;
}
.two_third{
	width: 60%;
	float: left;
	display: inline-block;
	padding: 0.3em;
	position: relative;
}
.two_third>p.main_text{
	margin: 0;
/*	padding: 0 1em;*/
	color: #bababa;
}
.upper, .lower{
	width: 100%; height: 50%; display: block;
}

/* ======================================
 * PAGE: vis
 * ====================================== */

.vis h1{margin-top: 1em;color:#a0a0a0;}
.vis .main_text{margin-top: 1em;}
.vis strong{color: #85c1a7;}
.vis #navigation li a{color: gray;}
.vis #logo{color: gray;}
.vis footer{color: white;}

.green{border-color: #00c989}
.green p{color: #00c989;}
.green:hover {background-color: #00c989;}

.vis #vis_display{
	background-color:rgba(232,233,216,0.4);
	background-position: top center;
	background-attachment: fixed !important;
	background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;
	width: 100%; height: 200px;
	position: relative;
/*	z-index: 900;*/
	background: none;
}
.vis #overview {
	background-color:rgba(255,255,255,0.8);
	margin: 0 auto;
	color: gray;
	clear: both;
	position: relative;
	z-index: 900;
	padding-bottom: 0em;
	overflow: hidden;
}
.vis #region {
	background-color:white;
	background-position: center;
	background-attachment: fixed;
	background-size: 100%; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;
	margin: 0 auto;
	color: gray;
	clear: both;
	position: relative;
	overflow: hidden;
	padding-bottom: 0em;
	padding-top: 1.5em;
	z-index: 901;
}


.vis #season {
	background-color:#ffffff;
	background-position: top center;
	background-attachment: fixed !important;
	background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;
	width: 100%; ;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
	color: gray;
	clear: both;
	position: relative;
	overflow: hidden;
	padding-top: 0em;
	padding-bottom:3em;
	z-index: 901;
}
.vis #process{
	background-color:white;
	color: gray;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.vis #ending{padding-top: 0; height:25%;background-color: #96cab3}

/* ======================================
 * MEDIA QUERIES
 * ====================================== */
@media screen and (min-width: 960px) {

.homequote{font-size : 3em;}
.caption{font-size: 1.75em;}
h1{font-size : 2.5em;}
#navigation{font-size: 1em; margin-right: 3%;}
.content-container{margin-top: -2em;}
.intro{margin: 3em auto; width: 70%;}
.main_text{font-size: 1.5em;}
.content-container {width: 900px;}
.button{margin-top: 4em; margin-bottom: 8em; font-size: 1.25em; width: 200px;}
h2{font-size: 2em}
}



@media screen and (max-width: 960px) {

.homequote{font-size : 2.5em;}
.caption{font-size: 1.5em;}
h1{font-size : 2.25em;}
#navigation{font-size: 1em;}

.content-container{margin-top: -2em;}
.intro{margin: 2em auto; width: 80%;}
.content-container {width: 730px;}
.button{margin-top: 4em; margin-bottom: 8em}
.main_text{font-size: 1.5em;}

}

@media screen and (max-width: 768px) {

.homequote{font-size : 2.5em;}
.caption{font-size: 1.5em;}
.main_text{font-size: 1.5em;}
h1{font-size : 2.25em;}
#navigation{font-size: 1em;}
.content-container{margin-top: -2em;}
.intro{margin: 2em auto; width: 80%;}
.content-container {width: 640px;}
.button{margin-top: 2em; margin-bottom: 5em}
h2{font-size: 1.8em}

.one_third{width: 32%;}
.two_third{width: 65%;}
.half{width: 50%;}

.img_responsive{width: 80%;}
.img_responsive_small{width: 35%;}
.div_responsive{width: 60%;}
}


@media screen and (max-width: 640px) {

#navigation ul li a{font-size: 1.5em;}
.homequote{font-size : 2em;}
.caption{font-size: 1.5em;}
h1{font-size : 2em;}
.main_text{font-size: 1.4em;}
.content-container{margin-top: -2em;}
.intro{margin: 2em auto; width: 80%;}
.content-container {width: 450px;}
.button{margin-top: 2em; margin-bottom: 5em}
h2{font-size: 1.9em}
.work-prominence{font-size:1.25em;}
.half, .one_third, .two_third{
	width: 100%;
	margin-bottom: 5em;
}
.former:after{
	content: " "; border: solid 1px white;
	display: block;
	width: 2em; margin: 0.8em auto 0.6em auto;
}
.one_third>p.main_text{
	padding: 0;
	text-align: center;
}
.two_third>p.main_text{
	padding: 0;
	text-align: center;
}
footer p{display: block; font-size: 1em}

}

@media screen and (max-width: 480px) {

#navigation ul li a{font-size: 1.5em;}
.homequote{font-size : 2em;}
.caption{font-size: 1.5em;}
h1{font-size : 2em;}
h2{font-size: 1.5em;}

.content-container{margin-top: 0;}
.intro{margin: 2em auto; width: 90%;}
.content-container {width: 360px;}
.button{margin-top: 2em; margin-bottom: 5em}
.button.filter{width: 14em; margin-bottom: 0;}
.content-container{padding-top: 1.5em}
.main_text{font-size: 1.2em;}
footer p{display: block; font-size: 1em}
}

@media screen and (max-width: 450px) {

#navigation ul li a{font-size: 1.2em;}
.homequote{font-size : 2em;}
.caption{font-size: 1.25em;}
.main_text{font-size: 1.25em;}
h1{font-size : 2em;}
h2{font-size: 1.75em;}
.content-container{margin-top: 0;}
.intro{margin: 2em auto; width: 90%;}
.content-container {width: 90%;}
.button{margin-top: 2em; margin-bottom: 5em}
.button.filter{width: 100px; margin-bottom: 0;}
#logo{width: 100px;}
.content-container{padding-top: 1.5em}
.main_text{font-size: 1.2em;}
footer p{display: block; font-size: 1em}
}
